<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ret en Restordre</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Restordre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="infoDiv2">

    <h1>Valgt restordre:</h1>
    <h2>Kunde nummer: </h2> <p th:text="${toEks.kunde_nummer+': '+toEks.kunde_navn}"></p>
    <h2>Vare nummer: </h2> <p th:text="${toEks.vare_nummer+': '+toEks.vare_navn}"></p>
    <h2>Note: <span th:text="${toEks.note}"></span> </h2>


    <form method="post" th:object="${toEks}">
        <div class="inputdiv2">
            <h3>Vælg dato for ekspedering af restordre: </h3>

            <label for="knr" th:value="${toEks.kunde_nummer}">
                <input type="text" class="input" name="knr" id="knr" th:value="${toEks.kunde_nummer}">
            </label>
            <label for="vnr" th:value="${toEks.vare_nummer}">
                <input type="text" class="input" name="vnr" id="vnr" th:value="${toEks.vare_nummer}">
            </label>
            <label for="antal" th:value="${toEks.antal_varer}">
                <input type="number" class="input" name="antal" id="antal"  th:value="${toEks.antal_varer}">
            </label>
            <label for="note" th:value="${toEks.antal_varer}">
                <input type="text" class="input" name="note" id="note"  th:value="${toEks.note}">
            </label>
            <label for="eksDato" value="30/01/18">
                <input type="date" class="input" name="eksDato" id="eksDato" th:value="${toEks.ekspeditions_dato}">
            </label>
                <input type="number" class="input" name="aktiv" id=  th:value="${aktiv}">



                <!--Typen Date parses til en såkaldt DOMString, som er en UTF-16 String - i formen  YYYY-MM-DD
                Ikke sikkert at det kan sendes til databasen. -->

            <button class="okay" type="submit" formaction="/restordre/update"> Okay </button>
            <button class="cancel" formaction="/" type="submit"> Cancel </button>
        </div>
</div>
</form>

</body>
</html>
</body>
</html>